<div id="msg"></div>

<%= form_tag '/time_records/batch_create', class: 'pure-form' do %>
    <div class="div_select_day">
        <%= text_field_tag 'day', @day %><br/>
    </div>
    <table>
    <% for hour in 6..23 %>
        <tr>
            <td class="hour">
                <%= hour %>
            </td>
            <td>
                <% for quarter in 1..4 %>
                    <% key = hour.to_s+"-"+quarter.to_s %>
                    <%= text_field_tag key, @time_records_hash[key] , class: 'record_textfield' %>
                <% end%>
            </td>
        </tr>
    <% end %>
    </table>
    <div class="div_submit">
        <%= submit_tag 'Submit', class: "pure-button pure-button-primary" %>
    </div>
<% end %>
