<h1>Today's record</h1>

<table>
    <thead>
        <tr>
            <th>Hour</th>
            <th>Note</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
    <% @time_records.each do |time_record| %>
        <tr>
        <td><%= time_record.hour %></td>
        <td><%= time_record.note %></td>
        <td><%= text_field_tag "q1" %></td>
        <td><%= text_field_tag "q2" %></td>
        <td><%= text_field_tag "q3" %></td>
        <td><%= text_field_tag "q4" %></td>
        <td><%= link_to 'Show', time_record %></td>
        <td><%= link_to 'Edit', edit_time_record_path(time_record) %></td>
        <td><%= link_to 'Destroy', time_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<br>

<%= link_to 'New Time record', new_time_record_path %>
